#container{
    display: flex;
    justify-content:center;
    width: 60%;
    margin: auto;   
    margin-top: 5px;
    min-width: 95px;
}
#numero{
    width: 60%;
    margin: auto;
    margin-top: 15px;
}
#btnGenerar{
    display: block;
    margin: auto;
    margin-top: 15px;
}